{
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./src"],
                "alias": {
                    "assets/*": ["assets/*"],
                    "connectors/*": ["connectors/*"],
                    "components/*": ["components/*"],
                    "constants/*": ["constants/*"],
                    "contexts/*": ["contexts/*"],
                    "hooks/*": ["hooks/*"],
                    "theme/*": ["theme/*"],
                    "utils/*": ["utils/*"],
                    "views/*": ["views/*"]
                }
            }
        ]
    ]
}
